attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
eight==1.0.1
flake8==4.0.1
future==0.18.2
idna==3.3
importlib-metadata==4.2.0
iniconfig==1.1.1
lxml==4.7.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyNFe==0.4
pyOpenSSL==20.0.1
pyparsing==3.0.7
pytest==6.2.5
requests==2.27.1
signxml==2.9.0
six==1.16.0
toml==0.10.2
typing_extensions==4.0.1
urllib3==1.26.8
zipp==3.7.0
